In [20]:
import random
import time
import datetime
from faker import Faker
import pandas as pd
import numpy as np
from enum import Enum
import socket
import ipinfo

In [43]:
class SimulateUserActivity():
    ANOMALY_RATIO = 0.05
    DAYS_RANGE = 90
    DURATION = 10
    MAX_NUM_FILES_PER_USER_DAY = 1000
    MAX_ACTIONS_PER_USER = 10
    def __init__(self, num_user):
        self.num_user = num_user

    def generate_user_data(self):
        df = pd.DataFrame(columns=['id', 'timestamp', 'user_role', 'user_name', 'file_action', 'ip_address'])
        count=1
        temp = 1
        for i in range(self.num_user):
            # sample the user type
            user_role = self.sample_user_role()
            ip_address = self.generate_random_ipv4()
            # sample the start date of activity for active short term
            # start_date, end_date, num_days = self.sample_activity_start_end_time(user_type)
            for j in range(self.MAX_ACTIONS_PER_USER):
                row = []
                random_date = self.generate_time()
                file_action = self.sample_file_action()
                row.append(count)
                row.append(random_date)
                row.append(user_role)
                row.append("user_" + str(i))
                row.append(file_action)
                row.append(ip_address)
#                 df = df.append(pd.DataFrame([row], columns=['timestamp', 'user_role', 'file_action']))
                df = pd.concat([df,pd.DataFrame([row], columns=['id', 'timestamp', 'user_role', 'user_name', 'file_action', 'ip_address'])]).set_axis(['id', 'timestamp', 'user_role', 'user_name', 'file_action', 'ip_address'], axis=1, inplace=False)
                # df.iloc[count] = row
                count = count+1
        return df
    
    def generate_random_ipv4(self):
        country = ""
        while country != 'United States':
            # Generate four random numbers between 0 and 255
            octets = [str(random.randint(0, 255)) for _ in range(4)]

            # Join the octets with dots to form the IP address
            ip_address = ".".join(octets)
            token = '4f37133f3239f8'
            handler = ipinfo.getHandler(token)
            try:
                locDetails = handler.getDetails(ip_address)
                country = locDetails.country_name
            except:
                pass
        print(locDetails.city)
        print(locDetails.country_name)
        return ip_address


    def sample_file_action(self):
        # READ = 1 # most 
        # RENAME = 2 # 2 sd away
        # WRITE = 3 # 1 sd away
        # DELETE = 4 # 1 sd away
        # MOVE = 5 # 2 sd away
        
        actions = ["READ", "RENAME", "WRITE", "DELETE", "MOVE"]
        probabilities = [0.4, 0.1, 0.3, 0.1, 0.1]
        generated_action = random.choices(actions, probabilities)[0]
        return generated_action



    def sample_user_role(self):
        if random.random() < 0.5:
            # admin
            user_role = "ADMIN"
        else:
            # user
            user_role = "USER"
        return user_role

    def generate_time(self):
        start_date = datetime.datetime(2022, 1, 1)
        end_date = datetime.datetime(2022, 3, 1)
        fake = Faker()
        random_datetime = fake.date_time_between(start_date, end_date)
        while random_datetime.hour < 9 or random_datetime.hour > 17 or random_datetime.weekday() in [5,6]:
            random_datetime = fake.date_time_between(start_date, end_date)
        return random_datetime


    def sample_file_activity(self, start_date, end_date):
        # sample the user file action
        file_action = random.choice([action.name for action in FileAction])
        # sample the file extension and entropy of the file
    import socket

In [44]:
sim = SimulateUserActivity(3)
a = sim.generate_user_data()

Council Bluffs
United States
Boston
United States
Waltham
United States

In [45]:
a.head()

,id,timestamp,user_role,user_name,file_action,ip_address
0,1,2022-02-22 12:52:15.410036,ADMIN,user_0,READ,34.33.124.167
0,2,2022-02-07 11:43:40.679768,ADMIN,user_0,DELETE,34.33.124.167
0,3,2022-01-25 14:43:31.107059,ADMIN,user_0,READ,34.33.124.167
0,4,2022-01-18 10:36:59.582378,ADMIN,user_0,READ,34.33.124.167
0,5,2022-01-10 13:38:26.952853,ADMIN,user_0,MOVE,34.33.124.167

In [31]:
a['timestamp'] = pd.to_datetime(a['timestamp'])

In [15]:
a.head()

  id                  timestamp user_role user_name file_action
0  1 2022-02-07 14:58:22.544503      USER    user_0       WRITE
0  2 2022-01-03 12:30:08.686591      USER    user_0        READ
0  3 2022-02-21 16:10:02.441167      USER    user_0        MOVE
0  4 2022-02-08 10:38:06.968371      USER    user_0        MOVE
0  5 2022-01-25 13:18:47.064274      USER    user_0       WRITE

In [16]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 0
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           50 non-null     object
 1   timestamp    50 non-null     datetime64[ns]
 2   user_role    50 non-null     object
 3   user_name    50 non-null     object
 4   file_action  50 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 2.3+ KB

In [6]:
a.sort_values(by='timestamp', inplace = True)
a.head()

   id                   timestamp user_role user_name file_action
0  49  2022-01-03 10:55:49.223358     ADMIN    user_4      RENAME
0  50  2022-01-04 16:29:31.607279     ADMIN    user_4        READ
0  18  2022-01-06 10:35:43.721679     ADMIN    user_1        READ
0  40  2022-01-06 15:49:04.014555     ADMIN    user_3        READ
0  26  2022-01-06 17:50:43.775825      USER    user_2        READ

In [ ]:
 # Example usage:
    ip_address = input("Enter an IP address: ")

    if is_valid_ip(ip_address):
        print(f"{ip_address} is a valid IP address.")
    else:
        print(f"{ip_address} is not a valid IP address.")